# .gitignore (files that won't be included in git repos)

# Temp files
#___________
*.sw[klmnop]
*~
*.bak

# Compiled Source
#________________
*.o
*.so
*.exe
*.class
*.pyc
*.pyo
*.dll
*.dvi
*.pdf

# Packages
#_________
*.jar
*.rar
*.tar
*.zip
*.7z
*.dmg

# Log files & Debug info
#_______________________
*.log
*.stackdump

# Database files
# ______________
*.sql
*.sqlite
*.csv
*.json

# Session files
# _____________
.vimsession*
vimsession*
