# .gitignore (files that won't be included in git repos)

# Temp files
#___________
*.swp
*.swo
*~

# Compiled Source
#________________
*.o
*.so
*.exe
*.class

# Packages
#_________
*.jar
*.rar
*.tar
*.zip

# Log files & Debug info
#_______________________
*.log
*.stackdump

# Database files
# ______________
*.sql
*.sqlite
*.csv
*.json

# Session files
# _____________
.vimsession*
vimsession*
