# .gitconfig

[github]
   user = cbabnik
[user]
   name = Curtis Babnik
   email = curtisbabnik@gmail.com
[color]
   ui = true
[pull]
   rebase = true
[credential]
   helper = store
[alias]
   amend = commit -a --amend
   s = status -s
   lg = log --oneline --decorate --graph --all
   l = log --oneline --decorate
