# .gitconfig

[github]
   user = cbabnik
[user]
   name = Curtis Babnik
   email = curtisbabnik@gmail.com
[credential]
   helper = store

[blame]
   showEmail = true
   date = short
[color]
   ui = true
[clean]
   requireForce = false

[fetch]
   recurseSubmodules = on-demand
[pull]
   rebase = true
[push]
   default = current

[core]
   autocrlf = input
   editor = vim
   excludesfile = ~/.gitignore
   compression = -1
[diff]
   tool = vimdiff
[merge]
   tool = vimdiff3

[alias]
   co = checkout
   ci = commit
   br = branch
   s = status -s
   amend = commit -a --amend
   lg = log --oneline --decorate --graph --all
   l = log --oneline --decorate
[url "htpps://github.com/"]
   insteadOf = gh:
