# .gitconfig

[github]
   user = cbabnik
[user]
   name = Curtis Babnik
   email = curtisbabnik@gmail.com
[color]
   ui = true
[pull]
   rebase = true
[push]
   default = current
[credential]
   helper = store
[core]
   autocrlf = input
   editor = vim
   excludesfile = ~/.gitignore
[alias]
   co = checkout
   ci = commit
   br = branch
   s = status -s
   amend = commit -a --amend
   lg = log --oneline --decorate --graph --all
   l = log --oneline --decorate
